@media (min-width: 768px) and (max-width: 1024px) {

    .headerMy{
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 5px;
    }



    .name{
        display: none;
    }



}